
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 670px;
    margin: 0 0 20px 0;
   
}